.card{

    flex-wrap: wrap;
    display: flex;
    column-gap:50px;
    row-gap: 25px;
    width: 550px;
}
.card__block{
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    align-items: center;
    background: #8aced7;
    width: 200px;
    padding: 20px;
    box-shadow: 1px 2px 5px 0;
}
.pokemon{
    width: 30px;
    height: 30px;
    background: url("https://www.svgrepo.com/show/276264/pokeball-pokemon.svg") center/cover no-repeat;
}